<div class="sidebar">
        
        <div class="sidebar-section">
            <h5><span>Newsletter</span></h5>
            {% include newsletter.html %}
        </div>
            
        <div class="sidebar-section">
            <h5><span>Community</span></h5>
            <ul style="list-none;">
            <li><a target="_blank" href="https://www.reddit.com/r/SilverBugs">SilverBugs</a></li>
            <li><a target="blank" href="https://www.reddit.com/r/Coins4Sale/">Coins4Sale</a></li>
            </ul>
        </div>
            
        <div class="sidebar-section">
             <h5><span>Spot Price By GoldBroker</span></h5>
           <!-- <a href="#" title="#"><img src="#" alt="#" /></a> -->
           <iframe
 src="https://www.goldbroker.com/widget/live-price/XAG?currency=USD" 
width="100%" height="130" style="border: 0; overflow: 
hidden;"></iframe>
        </div>
            
</div>