<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% seo %}

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">
	<link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.png">

	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: "ca-pub-8747222803173946",
			enable_page_level_ads: true
		});
	</script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>

<body>
	<header>
		<div class="container">
			<div class="company-name"><a href="{{ site.baseurl }}/">{% include logo.html %}
					<span>{{ site.title }}</span></a></div>
			{% include navigation.html %}
		</div>

		<section class="hero">
			<div class="text-container">
				{% if page.hero %}
				<h2>{{ page.hero }}</h2>
				{% elsif page.name %}
				<h2>{{ page.name }}</h2>
				{% endif %}

				{% if page.subtitle %}
				<p>{{ page.subtitle }}</p>
				{% endif %}
			</div>
		</section>
	</header>
	{{ content }}
	<footer>
		<div class="container">
			<ul class="footer-columns">
				<li class="about">
					<div class="company-name">{% include logo.html %} <span>{{ site.title }}</span></div>
					<p class="editable">Rage Metals is a small silver pouring company. We deal with artwork, generic
						bullion, and investment pieces.</p>
				</li>

				<li class="footer-nav">
					<h4>General</h4>
					<ul>
						<li><a href="/">Products</a></li>
						<li><a href="/about/">About Us</a></li>
						<li><a href="/contact/">Contact</a></li>
					</ul>
				</li>

				<li class="footer-nav">
					<h4>Help</h4>
					<ul>
						<li>
							<a href="#"
								onclick="Swal.fire('Shipping is your prefered method and courier.')">Shipping</a>
						</li>
						<li>
							<a href="/payment">Payment</a>
						</li>
						<li>
							<a href="/missing">Lost or Stolen Package</a>
						</li>
					</ul>
				</li>

				<li>
					<h4>Contact Us</h4>
					<p>Need help with something? <a href="/contact/">Get in touch</a>.
						<p class="email"><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></p>
						<p><a href="tel:{{ site.author.phone }}">{{ site.author.phone }}</a></p>
				</li>
			</ul>
			<p class="copyright">All Rights Reserved &copy; {{ site.time | date: '%Y' }} {{ site.title }}, LLC Pending
			</p>
		</div>
	</footer>
	<script>
		document.getElementById("open-nav").onclick = function () {
			document.body.classList.toggle("nav-open");
			return false;
		};
	</script>
	<script src="/js/application.js" type="text/javascript"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
	<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js"
		data-dojo-config="usePlainJson: true, isDebug: false"></script>
	<script type="text/javascript">
		window.dojoRequire(["mojo/signup-forms/Loader"], function (L) {
			L.start({
				"baseUrl": "mc.us20.list-manage.com",
				"uuid": "9598f6359d0583ee9a9eeaa9a",
				"lid": "acd82d8d8c",
				"uniqueMethods": true
			})
		})
	</script>
</body>

</html>